<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!-- ACCOUNT REFERENCES -->

    <add key="consumerKey" value="n2phOEaHChNOXn0l9YYsg" />
    <add key="consumerSecret" value="n2phOEaHChNOXn0l9YYsg" />
    <add key="token" value="292783397-V2gUojrZDAezGFnu03Clg7Iv7ykkZwORam4wJG8S" />
    <add key="tokenSecret" value="6njiWSEtGAqKTXoU5Hmk7YOoLWzVgCyKLowhg8f28" />

    <!-- URL REFERENCES -->

    <add key="RequestUrl" value="https://api.twitter.com/1/statuses/user_timeline.json" />
    <add key="RequestTokenUrl" value="https://twitter.com/oauth/request_token" />
    <add key="AuthorizeTokenUrl" value="https://twitter.com/oauth/authorize" />
    <add key="AccessTokenUrl" value="https://twitter.com/oauth/access_token" />

    <!-- ACCOUNT REFERENCES -->

    <add key="pay_by_phone" value="pay_by_phone" />
    <add key="PayByPhone" value="PayByPhone" />
    <add key="PayByPhone_UK" value="PayByPhone_UK" />
  </appSettings>
</configuration>